<div id="<%= dom_id user %>">
        <td style="border: 1px solid black;"><%= user.name %></td>
        <td style="border: 1px solid black;"><%= user.email %></td>
        <td style="border: 1px solid black;"><%= user.age %></td>
        <td style="border: 1px solid black;">
          <ul>
            <% user.posts.each do |post| %>
            
              <li><%= post.name %></li>
            <% end %>
          </ul>
        </td>
</div>
