<p style="color: green"><%= notice %></p>


<% if user_signed_in? %>
    <h1>Hello,   <%= current_user.name %></h1>
    <h3>You're <%= current_user.roles.pluck(:name) %></h3>
    <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
    <h1>Hello, </h1>
    <h3>Want to Sign in???</h3>
    <%= link_to "Sign In", new_user_session_path %>
<% end %>


<br />
<%= link_to "New user", new_user_registration_path %><br /><br />

<table style="border: 1px solid black;">
  <tr style="border: 1px solid black;">
    <th style="border: 1px solid black;">Name</th> 
    <th style="border: 1px solid black;">Email</th> 
    <th style="border: 1px solid black;">Age</th> 
    <th style="border: 1px solid black;">Posts</th> 
    <th style="border: 1px solid black;">Avatar</th> 
    <th style="border: 1px solid black;">Actions</th> 
  </tr>

<% @users.each do |user| %>
  
  <tr style="border: 1px solid black;">
    <td style="border: 1px solid black;"><%= user.name %></td> 
    <td style="border: 1px solid black;"><%= user.email %></td> 
    <td style="border: 1px solid black;"><%= user.age %></td> 
    <td style="border: 1px solid black;"><%= user.posts.map(&:name) %></p></td>
    <% if user.avatar.attached? %>
    <td style="border: 1px solid black;"><%= image_tag user.avatar, height:"100px", width:"100px" %></td> 
    <% else %>
    <td style="border: 1px solid black;"><%= "NO Image" %></td>
    <%end %>
    <td style="border: 1px solid black;">
      <%= link_to 'Show', user %> ||
      <%= link_to 'Edit', edit_user_path(user) %> ||
      <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
