<%# show admin user page %>

<p>User ID :<%= @admin_user.user_id %></p>
<p>Email :<%= @admin_user.email %></p>

<div>
  <%= link_to "Edit this admin user", edit_test_path(@admin_user) %> |
  <%= link_to "Back to admin users", tests_path %>
</div><br />
<div>
  <%= button_to "Destroy this admin user", @admin_user, method: :delete %>
</div>


