<div id="<%= dom_id post %>">
    <p>
        <strong>Title:</strong>
        <%= post.name %>
    </p>

    <p>
        <strong>Description:</strong>
        <%= post.description %>
    </p>

    <%# <p>
       <strong>Post Images:</strong>
       <%= post.images.count %>
        <%# <% if post.images.attached? %> 
            <%# <% post.images.each do |image| %> 
                <%# <%= image_tag image, width: "150px" %> 
            <%# <% end %>
        <%# <% end %> 
    <%# </p> %>
</div>
